@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.no-webp body{
  background: url("../img/fancy-pants.jpg") 0 0 repeat; }

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 68.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.blue-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  width: 50px;
}

.blue-logo__item {
  max-width: 100%;
  max-height: 50px;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.poligon {
  padding: 50px 0px 0px 0px;
}

.poligon__container {
  padding: 20px;
  background-color: rgb(116, 180, 233);
  border-radius: 10px;
}

.poligon__title {
  color: white;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.poligon__body {
  background-color: rgb(243, 152, 77);
  padding: 20px;
  border-radius: 7px;
}

.poligon__show-more {
  background: #333;
  padding: 10px;
  border-radius: 7px;
  margin: 0px 0px 30px 0px;
}

.poligon__text {
  font-size: 1.875rem;
  color: white;
  line-height: 1.5;
  margin: 0px 0px 20px 0px;
}

.poligon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: white;
  border-radius: 5px;
  padding: 15px;
  margin: 0px 0px 15px 0px;
}

.poligon__item {
  padding: 5px;
}

.poligon__item:not(:first-child) {
  display: none;
}

.poligon__item._active {
  display: block;
}

.poligon__item._active:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.poligon__item._bg-blue {
  background-color: rgb(31, 137, 199);
  border-radius: 5px;
}

.poligon__link {
  font-size: 1.25rem;
  color: #333;
}

.poligon__link._active {
  color: red;
}

.poligon__button {
  font-size: 1.125rem;
  color: white;
  background: rgb(58, 136, 224);
  border-radius: 10px;
  padding: 7px 25px;
}

/*.poligon {
	// .poligon__add-block
	&__add-block {
		background: #333;
		padding: 20px;
		border-radius: 7px;
		._removee {
			display: none;
		}
	}
	// .poligon__cards
	&__cards {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 30px;
		margin: 0px 0px 30px 0px;
	}
	// .poligon__card
	&__card {
		position: relative;
		align-items: center;
		flex: 0 1 250px;
		background-color: rgb(243, 152, 77);
		padding: 10px 20px;
		._removee {
			display: none;
		}
	}
	// .poligon__remove
	&__remove {
		cursor: pointer;
		font-size: rem(18);
		color: #333;
		font-weight: 700;
		margin: 0px 0px 5px 0px;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	// .poligon__lable
	&__lable {
		font-size: rem(20);
		margin: 0px 0px 10px 0px;
	}
	// .poligon__sublable
	&__sublable {
		font-size: rem(16);
		line-height: 1.2;
	}
}
*/

.webp body{ background: url(../img/fancy-pants.webp) 0 0 repeat; }